<div class="jumbotron mt-5" >
  <h1 class="display-4">Vetusta Soft</h1>
  <p class="lead">Vetusta Soft é uma aplicação que permite aos ajudantes de ação direta 
      ter um acesso rápido e intuitivo aos registos diários das 
      atividades de vida diária dos utentes(idosos), estejam eles 
      em contexto de lar residencial, centro de dia ou serviço de apoio domiciliário.</p>
  <hr class="my-4">
  <p>© 2020-2021, UAB - Programação Web Avançada</p>
  
</div>